:root {
  --gradient: linear-gradient(
    45deg,
    /* #e6e7e8, */ /* #ecceb4, */ #f28fbf,
    #592e44,
    #775b69,
    #e6dbe2
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
