/* 

Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

/* @import url("make-something-fly.css"); */
/* @import url("animated-gradient.css"); */
@import url("text-stroke.css");
@import url("stroke-shadow.css");
@import url("scroll-to-top.css");
/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/temp/up-cursor.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables. Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Fredoka", sans-serif;
  --heading-typeface: "Playfair+Display", serif;
  --project-title-typeface: "Fredoka", sans-serif;
  --background-color: #fff9f3;
  --background-color-about: #fff9f3;
  --background-color-footer: #fff9f3;
  --alt-background-color: #ffffff;
  --background-color-holding-page: #ffa1c2;
  --h1-color: #653392;
  --h2-color: #ed5e8e;
  --h3-color: #653392;
  --h4-color: #653392;
  --h5-color: #ed5e8e;
  --h6-color: #653392;
  --primary-text-color: #351f3f;
  --holding-page-title-color: #653392;
  --accent-color: #ffa1c2;
  --overlay-color: #ffa1c2;
  --overlay-title-color: #fff9f3;
  --overlay-description-color: #fff9f3;
  --hyperlink-color: #616be8;
  --hyperlink-alternate-color: #653392;
  --hover-color: #ffa1c2;
  --visited-color: #653392;
  --project-sidebar-background-color: transparent;
  --project-sidebar-text-color: #653392;
  --heart-color: #ffa1c2;
  --holding-page-footer-color: #fff9f3;
  --text-selection-background-color: #ffa1c2;
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-family: var(--heading-typeface);
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 1rem;
  line-height: 1;
  color: var(--h1-color);
}

h2 {
  font-family: var(--heading-typeface);
  font-weight: 900;
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--h2-color);
}

h3 {
  font-family: "playfair display", serif;
  font-weight: 500;
  font-size: 1.563rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--h3-color);
}

h4 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
  color: var(--h4-color);
  line-height: 1.2;
  text-align: left;
}

h5 {
  font-weight: 500;
  display: inline;
  font-size: 3.125rem;
  margin-bottom: 0.5rem;
  color: var(--h5-color);
}

h6 {
  font-family: var(--body-typeface);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

p {
  font-size: 1rem;
  line-height: 1.3;
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.8rem;
  color: var(--holding-page-title-color);
  margin-bottom: 0;
}

.hero-headline {
  color: var(--overlay-color);
}

.overlay-title {
  text-align: center;
  font-size: 3.125rem;
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--hyperlink-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: var(--hyperlink-color);
}

a:active {
  color: var(--hyperlink-color);
  /* Tap on mobile */
}

a.social-media-logo {
  color: var(--h1-color);
}

a.social-media-logo:hover {
  color: var(--hover-color);
}

.social-media-logo {
  font-size: 2rem;
}

.navigation-arrow {
  color: var(--accent-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: var(--accent-color);
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--hover-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

.heart {
  color: var(--heart-color);
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
}

.socials-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

.social-item {
  margin-right: 1rem;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

/* .project-description {
  font-size: 1.225rem;
  line-height: 1.2;
  margin-bottom: 1rem;
} */

.role-description {
  padding-bottom: 1rem;
  padding-left: 0.938rem;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero-header {
  padding: 2rem 2rem 1rem;
  top: 0;
}

.hero {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .header-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
} */

.logo {
  width: 14rem;
}

/* .name {
  display: block;
  flex-direction: row;
} */

#e29qEF5ShJb1 {
  fill: var(--h2-color);
}

#e29qEF5ShJb1:hover {
  fill: var(--hover-color);
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  text-align: left;
  min-height: 75vh;
}

.hero-headline-intro {
  width: 17.188rem;
  margin-bottom: 2rem;
}

.hero-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 1rem 2rem;
}

.hero-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.arrow {
  width: 3rem;
}

.menu-wrapper {
  display: none;
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
  background: white;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 0.25rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  /* Required to contain overlay size */
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: var(--overlay-color);
  transition: opacity 0.3s, visibility 0.3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 0.8;
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  background: var(--background-color-about);
  flex: 1;
}

/* .about-image {
  padding: 2rem 0rem;
} */

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  min-height: 25vh;
  background: var(--background-color-footer);
  padding: 6rem 2rem 2rem;
}

.footer-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 3;
}

.footer-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.awards-list {
  margin-bottom: 2rem;
}

.back-to-top {
  display: flex;
  flex-direction: row;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Sidebar */
.project-aside {
  width: 100%;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  background: var(--project-sidebar-background-color);
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  /* min-height should be deleted if you want to remove space between project images on project pages */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.project-image-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

.project-info {
  margin-bottom: 2.813rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
  padding: 1rem;
  background-color: white;
}

.navigation {
  display: inline-block;
  list-style-type: none;
}

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  /* Delete the following if you do not want a grainy gradient background on the holding page */
  background: linear-gradient(
      0deg,
      var(--background-color),
      var(--background-color-holding-page)
    ),
    url(/assets/temp/noise.svg);
  /* For more on grainy gradients see https://grainy-gradients.vercel.app/ */
}

.holding-page-animation {
  margin-bottom: 1rem;
}

.holding-page-title {
  font-size: 1.5rem;
  color: var(--holding-page-title-color);
}

.holding-page-footer {
  display: grid;
  place-items: center;
  min-height: 10vh;
  width: 100%;
}

.holding-page-copyright {
  font-size: 0.8rem;
  color: var(--holding-page-title-color);
  margin-bottom: 0;
}

/*
███████╗████████╗██╗   ██╗██╗     ███████╗     ██████╗ ██╗   ██╗██╗██████╗ ███████╗
██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝    ██╔════╝ ██║   ██║██║██╔══██╗██╔════╝
███████╗   ██║    ╚████╔╝ ██║     █████╗      ██║  ███╗██║   ██║██║██║  ██║█████╗  
╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝      ██║   ██║██║   ██║██║██║  ██║██╔══╝  
███████║   ██║      ██║   ███████╗███████╗    ╚██████╔╝╚██████╔╝██║██████╔╝███████╗
╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝     ╚═════╝  ╚═════╝ ╚═╝╚═════╝ ╚══════╝
 */

.style-guide-page-wrapper {
  padding: 3rem;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

/* .error-page {
  display: grid;
  place-items: center;
} */

.error-page-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* justify-content: space-between; */
  gap: 1.5rem;
  margin: 2.5rem;
  text-align: center;
}

.error-page-title {
  color: var(--hyperlink-alternate-color);
}

.error-page-illustration {
  width: 50%;
  text-align: center;
}

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

/* .play-page {
  display: grid;
  place-items: center;
} */

/* .play-page-wrapper {
} */

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/

.experiments-page {
  display: grid;
  place-items: center;
}

.experiments-page-inner-container {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experiments-page-title {
  color: var(--accent-color);
  font-size: 2rem;
}

.experiment-1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
}

.experiment-2-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

/* .sub-navigation-item {
} */

a.sub-navigation-link {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 1rem;
}

a.sub-navigation-link:hover {
  color: var(--accent-color);
  padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
  width: 50%;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.image {
  width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
  display: none;
}

.experiment-image-single {
  width: 20rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

/* @-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
} */

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  h1 {
    font-family: var(--heading-typeface);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1;
  }

  h2 {
    font-family: var(--heading-typeface);
    font-size: 2.25rem;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.15;
  }

  h3 {
    font-family: var(--heading-typeface);
    font-weight: 500;
    font-size: 1.563rem;
    margin-bottom: 1rem;
    line-height: 1.3;
  }

  h4 {
    font-family: var(--body-typeface);
    font-size: 1.875rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  h5 {
    font-family: var(--heading-typeface);
    font-weight: 900;
    font-size: 1.563rem;
    margin-bottom: 0.5rem;
    display: inline;
  }

  h5:hover {
    color: (var(--overlay-color));
  }

  h6 {
    font-family: var(--body-typeface);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.4;
  }

  .p-break {
    margin-bottom: 1rem;
  }

  .list a {
    font-size: 2rem;
  }

  .hero-message {
    padding: 3rem;
  }

  .hero-headline-intro {
    width: 25rem;
    margin-bottom: 2rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
    grid-gap: 1rem;
    align-items: center;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .menu-words {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-item {
    padding-right: 1.875rem;
  }

  .menu-wrapper {
    display: flex;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .social-media-logo {
    font-size: 2.3rem;
  }

  .logo {
    width: 16rem;
  }

  .hero {
    min-height: 20vh;
  }

  .hero-header {
    padding: 2rem 3rem 2rem;
  }

  .hero-headline-wrapper {
    flex-direction: row;
    padding: 1rem 3rem;
    line-height: 3rem;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: left;
    min-height: 100vh;
  }

  .hero-headline-intro {
    width: 90rem;
    padding-right: 10rem;
  }

  .name {
    display: block;
  }

  .about {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  .global-footer {
    padding: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem 1rem;
  }

  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .footer-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 2;
    justify-self: end;
  }

  .about-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .footer-item-3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: center;
  }

  .about-item-4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: end;
  }

  .footer-item-4 {
    grid-row: 2 / 3;
    grid-column: 2 / 2;
    justify-self: end;
  }

  .back-to-top {
    align-items: center;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 0.5rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: column;
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /* height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    padding-right: 2rem; */
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 100%;
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
  }

  .arrow {
    width: 4rem;
  }

  .error-page-inner-container {
    min-height: 100vh;
    padding: 5rem 20rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(992px, 1fr));
    grid-gap: 1rem;
    align-items: center;
  }
}

/* Slightly larger devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .hero-headline-intro {
    width: 30rem;
    padding-right: 6rem;
    margin-bottom: 2rem;
  }

  .hero-headline-wrapper {
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    text-align: left;
    display: flex;
    text-align: left;
    min-height: 75vh;
  }
}
/* Only add styles below to make very minor adjustments for extra or extra-extra large devices */

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  .hero-headline-wrapper {
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    text-align: left;
    display: flex;
    text-align: left;
    min-height: 100vh;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(1200px, 1fr));
    grid-gap: 1rem;
    align-items: center;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
}
